/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --decor-hover: rgba(255, 0, 112, 0.4);
  --font-color: #F1B2CE;
  --font-color-accent: #000028;
  --button-font: #FF0070;
  --bg-image: url(/images/cover-image-dark.png);
  --title-color: #DB00FF;
  --display-decor: flex;
}